.gradle
.yandex
.settings
.sync
.idea
.mainframer/config
bin
local.properties
out
output
build
gen
tests/bin
tests/local.properties
tests/gen
*.iws
*.iml
*.ipr
*.classpath
*.project
*.DS_Store
*.apk
Thumbs.db
captures/
